body {
	background:#F5F7FA;
	font-family: 'Montserrat', sans-serif;
}

header {
	box-shadow:1px 0px 10px 3px rgba(69, 91, 99, 0.04);
	background:#FFF;
}

input {
	border: 1px solid #CBCBCB;
	font-size:.8rem !important;
}

button {
	background-color:#00134C !important;
	border-color: #00134C !important;
}

a {
	color:#00134C;
	font-weight:700;
}

a:hover {
	color:#00134C;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#00134C;
}

.card {
	border:none;
	border-radius:0.8rem;
	box-shadow:1px 0px 10px 3px rgba(69, 91, 99, 0.04);
}

.profile {
	border:2px solid #00134C;
}

.group-camera {
	padding-top:.15rem !important;
	padding-bottom:.15rem !important;
	padding-left:.15rem !important;
	padding-right:.15rem !important;
	position:relative;
	bottom:1rem;
	color:#FFF;
}

.group-name {
	padding-left:.812rem;
	padding-right:.812rem;
}

.group-cel {
	padding-left:.94rem;
	padding-right:.94rem;
}

.form-control {
	padding-top:.530rem;
	padding-bottom:.530rem;
}

.form-control:focus {
  border-color: #00134C;
  box-shadow: 0 0 0 0.2rem rgba(0, 19, 76, 0.25);
}

.bg-light {
	background-color:#FFF !important;
}

.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
}

.navbar-nav .nav-link {
	font-size:.8rem;
}

.navbar-nav .nav-link img {
	border:2px solid #00134C;
}

.navbar-brand>img {
	height: 100%;
	width: auto;
	padding: 7px 14px;
}

.navbar .navbar-nav {
	text-decoration:none;
}

.navbar-nav .nav-link {
	color:#00134c !important;
}

.navbar-nav i {
	font-size:1.5rem;
}

.menu-sm i {
	font-size:1.3rem;
}

.photo-sm img {
	border:2px solid #00134C;
}

.user-photo {
	border:2px solid #00134C;
}

.knowledge {
	text-transform:uppercase;
}

.knowledge .bg-light {
	color:#00134C;
	border:1px solid #00134C;
}

.certifications {
	padding:0;
	margin:0;
}

.certifications li {
	list-style:none;
	color:#4E4E4E !important;
}

.certifications li h6 {
	color:#4E4E4E !important;
}

.certifications p {
	font-size:.8rem;
}

.certified {

}

.group-actions {
	color:#FFF;
	background-color:#E9ECEF !important;
	border-color:#E9ECEF !important;
	padding-left:1rem;
}

.group-actions-delete {
	background-color:#E9ECEF !important;
	border-color:#E9ECEF !important; 
	margin-left:1rem;
	color:#00134C;
}

.input-group i {
	color:#00134c !important;
}

.group-actions i {
	color:#00134c !important;
}

.add {
	color:#00134C !important;
}

.no-gutter {
	padding-left:0 !important;
	padding-right:0 !important;
}

.no-gutter-pl {
	padding-left:0 !important;
}

.no-gutter-pr {
	padding-right:0 !important;
}

.break {
  flex-basis: 100%;
  height: 0;
}

::placeholder {
   	font-family: 'Montserrat', sans-serif !important;
   	font-weight:400;
}


@media (max-width: 976px) {  
	.no-gutter-md {
		padding-left:0 !important;
		padding-right:0 !important;
	}
}



